{% extends 'layout.html' %}

{% block title%}
Add Campaign
{% endblock %}
{% include 'navbar/navbar4.html' %}

{% block content%}
<h2 class="display-2">Add Campaign</h2>
<form method="post" class="form" action="{{url_for('add_campaign')}}">
    <label for="name" class="form-label"><b>Name</b></label>
    <input type="text" class="form-control" id="name" name="name" required>
    <label for="description" class="form-label"><b>Description</b> 
    <input type="text" name="description" id="description" class="form-control" size="200"required/>
    </label>
    <br>
    <div class="input-group">
    <label for="startdate" class="form-label"><b>Start Date</b> 
    <input type="date" name="startdate" id="startdate" class="form-control" required/>
    </label>
    <br>
    <label for="enddate" class="form-label"><b>End Date</b> 
    <input type="date" name="enddate" id="enddate" class="form-control" required/>
    </label>
    </div>
    <label for="budget" class="form-label"><b>Budget</b> 
    <input type="number" name="budget" id="budget" class="form-control" required/>
    </label>
    <br>
    <label for="visibility"><b>Visibility</b></label>
    <select name="visibility" id="visibility">
    <option value="none" selected disabled hidden>Select an Option</option>
    <option value="public">Public</option>
    <option value="private">Private</option>
    </select>
    <br><br>
    <a class="btn btn-danger" href="{{url_for('campaign')}}">Cancel</a>
    <input type="submit" class="btn btn-success" value="Add campaign"></form>
{% endblock%}