{% extends 'layout.html' %}

{% block title%}
View Campaign
{% endblock %}
{% include 'navbar/navbar3.html' %}

{% block content%}
<h2 class="display-5"><b>Campaign Name - {{campaign.name}}</b></h2><br>
<ul>
<li><h5 class="display-8"><b>Description - </b>{{campaign.description}}</h5></li>
<li><h5 class="display-8"><b>Created By - </b>{{campaign.sponsor.name}}</h5></li>
<li><h5 class="display-8"><b>Starting Date - </b>{{campaign.start_date}}</h5></li>
<li><h5 class="display-8"><b>Ending Date - </b>{{campaign.end_date}}</h5></li>
<li><h5 class="display-8"><b>Budget - </b>{{campaign.budget}}</h5></li>
<li><h5 class="display-8"><b>Visibility - </b>{{campaign.visibility}}</h5></li>
<a href="{{url_for('update_campaign', campaign_id=campaign.campaign_id)}}" class="btn btn-primary">Update</a>
<a href="{{url_for('delete_campaign', campaign_id=campaign.campaign_id)}}" class="btn btn-warning">Delete</a>

</ul>
{% endblock%}