<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('sponsor_profile') }}">Sponsor's Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="{{ url_for('sponsor_profile') }}">Profile</a>
        <a class="nav-link" href="{{ url_for('campaign') }}">Campaigns</a>
        <a class="nav-link" href="{{ url_for('find') }}">Find</a>
        <a class="nav-link" href="{{ url_for('sponsor_stats') }}">Stats</a>
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>
  </div>
</nav>